<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739405468797-4et0sqm5l1lns5mk7c9c1998n51m060a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739405468797-4et0sqm5l1lns5mk7c9c1998n51m060a</string>
	<key>API_KEY</key>
	<string>AIzaSyArRXfSSbMy7j5J9ADugxShmDCy70x5U74</string>
	<key>GCM_SENDER_ID</key>
	<string>739405468797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-emanuel-laairoy-rodrigo</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-emanuel-laairoy-rodrigo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739405468797:ios:09f88edc407a9960ef0d14</string>
</dict>
</plist>